<div class="you mt-7 p-3 bd-callout bd-callout-warning">
 <h3 class="fw-light"><%=@question.capitalize%></h3>
 <h3 class="fst-italic fw-light mt-4">-You</h3>
</div>

<div class="coach mt-3 bd-callout bd-callout-warning">
  <h2><%=@answer%></h2>
  <h2 class="fst-italic fw-light mt-4">- Your Coach</h2>
</div>
